{% extends 'countries/layout.html' %}

{% block content %}

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<section class="bg-info bg-gradient">
    <section class="container">
        <div class="row bg-info bg-gradient text-center p-3">
            <div class="col-12">
                <span class="fs-4">COUNTRY DETAILS</span>
                <span class="float-end">Hello, {{ request.user }}<a class="btn btn-outline-danger ms-2" href="{% url 'logout' %}">Logout</a> </span>
            </div>
        </div>
    </section>

</section>

<section class="container">
    <div class="row my-3">
        <section class="col-12">
            <div class="input-group">
                <input type="text" id="search-country" name="country" class="form-control"
                    placeholder="Search Country Name" aria-label="Search Country Name" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="button" id="search-button">Search</button>
                <button class="btn btn-outline-warning ms-2" type="button" id="reset-button">Reset Table</button>
            </div>
        </section>
    </div>
</section>

<section class="container">
    <table class="table table-hover table-bordered border-primary table-responsive" id="country-table">
        <thead class="table-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Alpha2code</th>
                <th scope="col">Capital</th>
                <th scope="col">Population</th>
                <th scope="col">Timezone</th>
                <th scope="col">Flag</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>

<!-- Modal -->
<div class="modal fade" id="country-details-modal" tabindex="-1" aria-labelledby="country-details-modal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary bg-gradient">
                <h5 class="modal-title text-light">Country Language & Neighbours</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="text-primary text-uppercase">Official Languages</h6>
                <p id="languages"></p>
                <h6 class="text-primary text-uppercase">Neighbours</h6>
                <p id="neighbours"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(function ($) {
        loadDateInTable();
    });

    $(document).ready(function () {

        // when details button clicked a modal will show
        $(document).on("click", "#details-button", function () {
            let dataId = $(this).attr('data-id');

            let countryModal = new bootstrap.Modal(document.getElementById('country-details-modal'), {
                keyboard: false
            })
            countryModal.show()

            $.ajax({
                url: '/api/v1/countries/' + dataId + '/',
                type: 'GET',
                success: function (data) {
                    let languages = "";
                    languages = data.languages.map(function (elem) {
                        return elem.name;
                    }).join(", ");

                    let neighbours = "";
                    neighbours = data.neighbours.map(function (elem) {
                        return elem.name;
                    }).join(", ");

                    $('#country-details-modal #languages').text(languages)
                    $('#country-details-modal #neighbours').text(neighbours)
                }
            }).done(function () {
                $("#overlay").fadeOut(300);
            });
        });

        // when search button clicked country table will be rehydrated 
        $('#search-button').on('click', function (e) {
            let searchCountry = $('#search-country').val()

            if (searchCountry != "") {
                $('#country-table tbody').empty()

                $.ajax({
                    url: '/api/v1/countries/?search=' + searchCountry,
                    type: 'GET',
                    success: function (data) {
                        let tableHtml = makeHtml(data);
                        $('#country-table tbody').html(tableHtml)
                    }
                }).done(function () {
                    $("#overlay").fadeOut(300);
                });
            }
        });

        // reset the table
        $('#reset-button').on('click', function (e) {
            $('#country-table tbody').empty()
            loadDateInTable();
        });

        // logout
        $('#reset-button').on('click', function (e) {
            $('#country-table tbody').empty()
            loadDateInTable();
        });
    });

    // load all the countries data in the table
    function loadDateInTable() {
        $(document).ajaxSend(function () {
            $("#overlay").fadeIn(300);
        });

        $.ajax({
            url: '/api/v1/countries/',
            /*beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', make_base_auth('{{request.user}}', '{{ request.COOKIES.user_password }}'));
            }*/
            type: 'GET',
            success: function (data) {
                let tableHtml = makeHtml(data);
                $('#country-table tbody').html(tableHtml)
            }
        }).done(function () {
            $("#overlay").fadeOut(300);
        });
    }

    // make html for country table
    function makeHtml(data) {
        let tableHtml = "";

        $.each(data, function (key, value) {
            let name = '<tr><td scope="row">' + value.name + '</td>'
            let alpha2code = '<td>' + value.alpha2code + '</td>'
            let capital = '<td>' + value.capital + '</td>'
            let population = '<td>' + value.population + '</td>'
            let timezone = '<td>' + value.timezone + '</td>'
            let flag = '<td>' + value.flag + '</td>'
            let action =
                '<th><button class="btn btn-outline-info" type="button" id="details-button" data-id="' + value
                    .id + '">Details</button></th></tr>'

            tableHtml = tableHtml + name + alpha2code + capital + population + timezone + flag + action
        });

        return tableHtml;
    }

    // create basic authentication
    function make_base_auth(user, password) {
        var tok = user + ':' + password;
        var hash = btoa(tok);
        return 'Basic ' + hash;
    }
</script>
{% endblock %}